[access "refs/*"]
	owner = group Administrators
	create = group Mesmerize Maintainers
	push = +force group Mesmerize Maintainers
	label-Code-Review = -2..+2 group Mesmerize Maintainers
	label-Code-Review = -2..+2 group SGS Administrators
	label-Verified = -1..+1 group Mesmerize Maintainers
	label-Verified = -1..+1 group SGS Administrators
	submit = group Mesmerize Maintainers
	submit = group SGS Administrators
[project]
	state = active
